{{#partial "content"}}
    <div class="well">
        <h2>HOURS</h2>
        <ul>
            <li>Mon-Fri - 9am-6pm</li>
            <li>Sat - 9am-4pm</li>
            <li>Sun - Closed</li>
        </ul>

        <h2>CONTACT US</h2>
        <ul>
          <li>1234 S.E. International Way</li>
            <li>Milwaukie,OR 97222</li>
            <li>Phone: 503.234.1231</li>
            <li>Fax: 503.234.2312</li>
            <li>Toll Free: 800.388.4453</li>
        </ul>


    </div>
{{/partial}}

{{> layout.hbs}}