{{#partial "content"}}
    <div class="well">
        <h1>Join our team</h1>

        <p>Garden Guide's culture is very agri-centric — as might be expected of a plant company! Many of our employees are avid gardeners and/or commercial farmers.</p>
        <h2>WORKING AT Garden Guide</h2>

            <p>Garden Guide is a rapidly growing, mail-order and web-based, employee-owned seed company located in rural Portland. We operate from a certified organic research farm in Milwaukie, Oregon. If you're an outdoor enthusiast — fishing, hiking, skiing, boating, biking, and more — you'll love this region: Garden Guide's is situated about halfway between the coast and the eastern mountains, and we're just 90 minutes from both Seaside Lake and Mt. Hood..</p>

        <h2>BENEFITS</h2>

            <p>Garden Guide offers a great benefit package: Health Insurance (HMO, PPO, & HSA); Dental Insurance; Life Insurance; Short- and Long-term Disability; Medical and Dependent Care Reimbursement; Tuition Reimbursement; and 401K — and we are 100% employee owned!</p>

        <h2>CURRENT JOB OPENINGS:</h2>

        <ul>
            <li><a href="https://www.indeed.com/q-Marketing-Representative-jobs.html">Graphic Designer</a></li>
            <li><a href="https://www.indeed.com/q-Marketing-Representative-jobs.html">Marketing Representative</a></li>
            <li><a href="https://www.indeed.com/jobs?q=Sales+Director&l=">Sales Director</a></li>
            <li><a href="https://www.indeed.com/jobs?q=regional+sales+rep&l=">Regional Sales Representative</a></li>
            <li><a href="https://www.indeed.com/jobs?q=web+developer&l=">Web Developer</a></li>
        </ul>


    </div>
{{/partial}}

{{> layout.hbs}}