{{#partial "content"}}

    <h1>Welcome to the Garden Guide</h1>
    <br>
    <h4>Plan your planting season with the Garden Guide for Portland.  Select a plant and see the best time of the year for planting. Add it to your
    garden and watch it grow.</h4>
    {{#if plants}}
        <div class="row">
            {{#each plants}}
                <div class="col-md-4">
                    <div class="well">
                        <h3><a href="/plants/{{id}}">{{plantName}}</a></h3><br>
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <p>There are no plants in the database</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}