{{#partial "content"}}
    <div class="well">
        <div class="categoryDescription">
            <p>
                <span>
                    <br>
                    <h2>Our Products</h2>

            <p>Garden Guide, and our product line, is expanding all the time. Currently our main distribution warehouse, and Product Showroom, are in Milwaukie OR, just SE of SE Portland. Soon we hope to open a Retail Only Outlet in SE Portland, we’ll keep you posted. We also have a Wholesale Only, Full Pallet Only, By-Appointment-Only Warehouse. Keep abreast of our current news by visiting our Facebook Page.</p>

<p>We are not a “Mail Order Company”, we do not ship individual bags to customers. If you are a farm or business and you would like to place a large order to pick up or to ship as freight, you might find the “Order Form” below helpful.</p>


<h2>Some great items that we carry:</h2>

<li>Organic & Natural Fertilizers and Soil Amendments</li>

<li>Garden Guide brand Neem & Karanja Cakes and Oils. Highest quality & purity.</li>

<li>Garlic, Potatoes, Vegetable Plant Starts, “Xera Plants”, Fruit Trees</li>

<li>Chicken and Livestock feeds, Pet Foods, Animal bedding products</li>

<li>Garden Seeds, Cover Crop Seed</li>

<li>Seed Starting Supplies</li>

<li>Bamboo Stakes</li>

<li>Rowcover/ weed barrier</li>

<li>Soaker hoses, hoses, sprinklers, water wands</li>

<li>long handled tools, hand tools</li>

<li>Mycorrhizal products</li>

<li>traps: mole, gopher, mouse, rat, flea, pantry moth, fruit fly, yellow jacket</li>

<li>books</li>

            <br><p>Note: ** We are not a Mail Order Business. (If you are a Store or Distributor, please contact us about shipping Freight.)</p>
            <br>
                </span>
                <br>
                <br>
                <span>
                    <strong>
                        We're celebrating all week long and offering 10% OFF SITEWIDE.
                    </strong>
                </span>
            </p>
        </div>

    </div>
{{/partial}}

{{> layout.hbs}}